.content {
  padding: 20px;
  max-width: 700px;
  margin: auto;
}

.content section{
  margin: 20px auto;
  padding: 20px; 
  border-radius: 8px;
  font-family: 'Open Sans', serif;
  font-size: 19px;
}
